<%- include('../../layout/head') -%>
    <%- include('../../layout/aside')-%>
    <div class="container-main">
        <%- include('../../layout/header')-%>
        <%- include('main')-%>
        <%- include('../../layout/footer') -%>
    </div>
    
<%- include('../../layout/footer-body') -%>