<main class="content-container-main">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>sequencia</td>
                <td>op</td>
                <td>cliente</td>
                <td>produto</td>
                <td>quantidade pedido</td>
                <td>quantidade produzido</td>
                <td>começa</td>
                <td>termina</td>
            </tr>
        </thead>
        <tbody>
            <% if(typeof prevision !=='undefined' ){ %>
                
                <% 
                    var i = 0
                    Object.keys(prevision).forEach(key => { %>
                   <tr>
                    <td><%= i %></td>
                    <td><%= prevision[key].ordemProducao %></td>
                    <td><%= prevision[key].cliente %></td>
                    <td><%= prevision[key].produto %></td>
                    <td><%= prevision[key].orderQuantity %></td>
                    <td><%= prevision[key].quantityProduced %></td>
                    <td><%= prevision[key].previsionStart.toLocaleString() %></td>
                    <td><%= prevision[key].previsionEnd.toLocaleString() %></td>
                    
                   </tr>
               <% i++ }); %>
             <% } %>
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="elementos()">CALCULAR</button>
</main>
<script>
    function elementos(){
        console.log(document.querySelector(".table"));
    }
</script>
